/* Contains css which will be required for more than 1 page */

.areaNeeded{
    height: 280px;
    width: 300px;
    border:4px solid black;
    background-color: white;
    border-radius: 2%;
    margin:6%;
    z-index: -1;
}

#firstLook i{
    float:right;
}

#firstLook i p {
    position:relative;
    margin-top:0%;
    font-weight: bold;
    margin-right: 30%;
}

#firstLook i span{
    font-weight: bold;
    margin-left: -25%;
}

#firstLook img{
    height:80px;
    width:90px;
    position: relative;
    margin-top: 60%;
    margin-left:-32%;
}

.areaNeeded-1{
    height: 280px;
    width: 300px;
    /* border:1px solid black; */
    margin:6%;
    margin-top:0% !important;
}

